{% extends "header.html" %}

{% block body %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Basics</a></li>
    <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis</a></li>

  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
	<ul>
	   {% for t in TOPIC_DICT["Basics"] %}
	     <li><a href="{{t[1]}}">{{t[0]}}</a></li>
	   {% endfor %}
	</ul>
  </div>


  <div role="tabpanel" class="tab-pane fade" id="wdev">
      <ul>
         {% for t in TOPIC_DICT["Web Dev"] %}
           <li><a href="{{t[1]}}">{{t[0]}}</a></li>
         {% endfor %}
      </ul>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="dan">
      <ul>
         {% for t in TOPIC_DICT["Data Analysis"] %}
           <li><a href="{{t[1]}}">{{t[0]}}</a></li>
         {% endfor %}
      </ul>
  </div>
</div>

</div>


{% endblock %}
