{% extends "main.html" %}
{% block body %}

<body>

    <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
    <script>
        var chart_id = {{ chartID|safe }}
        var series = {{ series|safe }}
        var title = {{ title|safe }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var chart = {{ chart|safe }}
    </script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="../static/js/graph.js"></script>

</body>

{% endblock %}
