{% extends "header.html" %}
{% block body %}

<body>

    <div class="container">
        <p>{{ error }}</p>
        <br>
        <h4>Please Login</h4>
        <form action="" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Username"
            name="username" value="{{ request.form.username }}"></input>
            <input type="password" class="form-control" placeholder="Password"
            name="password" value="{{ request.form.password }}"></input>
            <input type="submit" class="btn btn-default" value="Login"></input>
        </form>
    </div>

</body>

{% endblock %}
